h1 {
    color: blueviolet;
    text-shadow: 2px 2px red;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: rgb(128, 43, 0);
    font-family:'Roboto', Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    color: darkgreen;
    text-align: center;

}

h3 { 
    color: royalblue;
    text-align: center;

}

section {
    font-size:large ;
    text-align:justify;
}

.logos-estudios {
    width: 30px;
    border-width: 2px;
    border-color: blue;
    border-style:double;
    border-radius: 50%;
}
.imagenes-chicas {
    border-width: 2px;
    border-color: blue;
    border-style:double;
    border-radius: 50%;

}
.row {
    background-color: moccasin;
    border: 2px solid black;
    padding: 1px;
    margin: 1px

}

.columna {
   color: white;
   font-size: 15px;
   background-color: burlywood;
   border: 1px solid black;
}